In [1]:
import pandas as pd
import numpy as np

In [2]:
students=pd.read_csv('Students Using Ai Tools.csv')
students.head()

,Student_Name,College_Name,Stream,Year_of_Study,AI_Tools_Used,Daily_Usage_Hours,Use_Cases,Trust_in_AI_Tools,Impact_on_Grades,Do_Professors_Allow_Use,Preferred_AI_Tool,Awareness_Level,Willing_to_Pay_for_Access,State,Device_Used,Internet_Access
0,Aarav,Indian Institute of Information Technology,Engineering,4,Gemini,0.9,"Assignments, Coding Help",2,2,No,Copilot,9,Yes,Uttar pradesh,Mobile,Poor
1,Vivaan,"Government Ram Bhajan Rai NES College, Jashpur",Commerce,2,ChatGPT,3.4,Learning new topics,3,-3,Yes,Other,6,No,Chhattisgarh,Laptop,Poor
2,Aditya,Dolphin PG Institute of BioMedical & Natural,Science,2,Copilot,3.6,"MCQ Practice, Projects",5,0,No,Gemini,1,No,Uttarakhand,Tablet,Poor
3,Vihaan,Shaheed Rajguru College of Applied Sciences for,Arts,2,Copilot,2.9,Content Writing,5,2,Yes,Gemini,5,No,Delhi ncr,Laptop,High
4,Arjun,Roorkee College of Engineering,Science,1,Gemini,0.9,"Doubt Solving, Resume Writing",1,3,Yes,Other,8,Yes,Uttarakhand,Laptop,Medium

# Manual Assesment Problems
- Dirty Data
- students columns has missing values*
- daily usage col datatype is to change to integer (Keep as it is)
- trust in ai tool col datatype must be change from int to object *
- impact on grade col datatype must be change from int to object *
- awareness_level col datatype must be change from int to object *
- drop missing state students from state col *

changes done are represented by (*)

- Messy Data
1. Ai tool used col should be droped. Bcz there is prefered ai tool column *
2. problem in hrs column round off floating numbers it into int numbers
3. replace values in 'trust in ai columns' (from int to string)* 
4. replace values in 'impact in Grade columns' (from int to string) *
5. replace values in 'Awareness columns' (from int to string) *
6. in collge names columns some colleges names is written in short form
7. not clear between management and hotel management value in stream column
8. replace all column name form "_" by "Space" *
9. change "internet_acess" col name to "internet_speed"*
10. state column has nan values so drop the NaN values students and remaining all keep which does not have NaN values *

# Programactic Assesment Steps
- head()
- tail()
- info()
- describe()
- isnull().sum()
- duplicated().sum()
- sample()
- columns()
- .shape()

# Programtic Assesment

In [3]:
students.head(5)

,Student_Name,College_Name,Stream,Year_of_Study,AI_Tools_Used,Daily_Usage_Hours,Use_Cases,Trust_in_AI_Tools,Impact_on_Grades,Do_Professors_Allow_Use,Preferred_AI_Tool,Awareness_Level,Willing_to_Pay_for_Access,State,Device_Used,Internet_Access
0,Aarav,Indian Institute of Information Technology,Engineering,4,Gemini,0.9,"Assignments, Coding Help",2,2,No,Copilot,9,Yes,Uttar pradesh,Mobile,Poor
1,Vivaan,"Government Ram Bhajan Rai NES College, Jashpur",Commerce,2,ChatGPT,3.4,Learning new topics,3,-3,Yes,Other,6,No,Chhattisgarh,Laptop,Poor
2,Aditya,Dolphin PG Institute of BioMedical & Natural,Science,2,Copilot,3.6,"MCQ Practice, Projects",5,0,No,Gemini,1,No,Uttarakhand,Tablet,Poor
3,Vihaan,Shaheed Rajguru College of Applied Sciences for,Arts,2,Copilot,2.9,Content Writing,5,2,Yes,Gemini,5,No,Delhi ncr,Laptop,High
4,Arjun,Roorkee College of Engineering,Science,1,Gemini,0.9,"Doubt Solving, Resume Writing",1,3,Yes,Other,8,Yes,Uttarakhand,Laptop,Medium

In [4]:
students.tail(5)

,Student_Name,College_Name,Stream,Year_of_Study,AI_Tools_Used,Daily_Usage_Hours,Use_Cases,Trust_in_AI_Tools,Impact_on_Grades,Do_Professors_Allow_Use,Preferred_AI_Tool,Awareness_Level,Willing_to_Pay_for_Access,State,Device_Used,Internet_Access
3609,Ishaan,"St. Mira's College for Girls, Pune",Commerce,1,"ChatGPT, Copilot",4.3,"Doubt Solving, Resume Writing",2,2,Yes,Other,2,No,NaN,Mobile,High
3610,Rudra,Roorkee College of Pharmacy,Pharmacy,3,Copilot,3.0,Content Writing,2,1,No,Copilot,5,Yes,NaN,Tablet,Poor
3611,Dhruv,"Bahona College, Jorhat",Agriculture,3,Gemini,2.7,"Exam Prep, Notes",2,1,Yes,Copilot,3,No,NaN,Tablet,Poor
3612,Kabir,Sree Chitra Thirunal College of Engineering,Engineering,4,Gemini,2.7,"Exam Prep, Notes",3,3,Yes,Gemini,3,No,NaN,Laptop,High
3613,Atharv,"Poona College of Pharmacy, Pune",Pharmacy,3,Copilot,0.9,"Exam Prep, Notes",1,2,No,Copilot,2,No,NaN,Mobile,High

In [5]:
students.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3614 entries, 0 to 3613
Data columns (total 16 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Student_Name               3614 non-null   object
 1   College_Name               3614 non-null   object
 2   Stream                     3614 non-null   object
 3   Year_of_Study              3614 non-null   int64
 4   AI_Tools_Used              3614 non-null   object
 5   Daily_Usage_Hours          3614 non-null   float64
 6   Use_Cases                  3614 non-null   object
 7   Trust_in_AI_Tools          3614 non-null   int64
 8   Impact_on_Grades           3614 non-null   int64
 9   Do_Professors_Allow_Use    3614 non-null   object
 10  Preferred_AI_Tool          3614 non-null   object
 11  Awareness_Level            3614 non-null   int64
 12  Willing_to_Pay_for_Access  3614 non-null   object
 13  State                      2000 non-null   object
 14  Device_Used                3614 non-null   object
 15  Internet_Access            3614 non-null   object
dtypes: float64(1), int64(4), object(11)
memory usage: 451.9+ KB

In [6]:
students.describe()

,Year_of_Study,Daily_Usage_Hours,Trust_in_AI_Tools,Impact_on_Grades,Awareness_Level
count,3614.000000,3614.000000,3614.000000,3614.000000,3614.000000
mean,2.472883,2.559685,3.023243,0.003320,5.828445
std,1.107912,1.213319,1.436934,2.370706,2.925481
min,1.000000,0.500000,1.000000,-5.000000,1.000000
25%,2.000000,1.500000,2.000000,-2.000000,3.000000
50%,2.000000,2.600000,3.000000,0.000000,6.000000
75%,3.000000,3.600000,4.000000,2.000000,8.000000
max,4.000000,5.000000,5.000000,5.000000,10.000000

In [7]:
students.isnull().sum()

Student_Name                    0
College_Name                    0
Stream                          0
Year_of_Study                   0
AI_Tools_Used                   0
Daily_Usage_Hours               0
Use_Cases                       0
Trust_in_AI_Tools               0
Impact_on_Grades                0
Do_Professors_Allow_Use         0
Preferred_AI_Tool               0
Awareness_Level                 0
Willing_to_Pay_for_Access       0
State                        1614
Device_Used                     0
Internet_Access                 0
dtype: int64

In [8]:
students[students['State'].isnull()]

,Student_Name,College_Name,Stream,Year_of_Study,AI_Tools_Used,Daily_Usage_Hours,Use_Cases,Trust_in_AI_Tools,Impact_on_Grades,Do_Professors_Allow_Use,Preferred_AI_Tool,Awareness_Level,Willing_to_Pay_for_Access,State,Device_Used,Internet_Access
2000,Aarav,Indian Institute of Information Technology,Engineering,4,Gemini,0.9,"Assignments, Coding Help",2,2,No,Copilot,9,Yes,NaN,Mobile,Medium
2001,Vivaan,Indian Institute of Information Technology,Engineering,4,Gemini,0.9,"Assignments, Coding Help",2,2,No,Copilot,9,Yes,NaN,Mobile,Poor
2002,Aditya,Indian Institute of Information Technology,Engineering,4,Gemini,0.9,"Assignments, Coding Help",2,2,No,Copilot,9,Yes,NaN,Mobile,Poor
2003,Vihaan,Indian Institute of Information Technology,Engineering,4,Gemini,0.9,"Assignments, Coding Help",2,2,No,Copilot,9,Yes,NaN,Mobile,Poor
2004,Arjun,Indian Institute of Information Technology,Engineering,4,Gemini,0.9,"Assignments, Coding Help",2,2,No,Copilot,9,Yes,NaN,Mobile,Poor
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3609,Ishaan,"St. Mira's College for Girls, Pune",Commerce,1,"ChatGPT, Copilot",4.3,"Doubt Solving, Resume Writing",2,2,Yes,Other,2,No,NaN,Mobile,High
3610,Rudra,Roorkee College of Pharmacy,Pharmacy,3,Copilot,3.0,Content Writing,2,1,No,Copilot,5,Yes,NaN,Tablet,Poor
3611,Dhruv,"Bahona College, Jorhat",Agriculture,3,Gemini,2.7,"Exam Prep, Notes",2,1,Yes,Copilot,3,No,NaN,Tablet,Poor
3612,Kabir,Sree Chitra Thirunal College of Engineering,Engineering,4,Gemini,2.7,"Exam Prep, Notes",3,3,Yes,Gemini,3,No,NaN,Laptop,High
3613,Atharv,"Poona College of Pharmacy, Pune",Pharmacy,3,Copilot,0.9,"Exam Prep, Notes",1,2,No,Copilot,2,No,NaN,Mobile,High

In [9]:
students.duplicated().sum()

np.int64(0)

In [10]:
students.columns

Index(['Student_Name', 'College_Name', 'Stream', 'Year_of_Study',
       'AI_Tools_Used', 'Daily_Usage_Hours', 'Use_Cases', 'Trust_in_AI_Tools',
       'Impact_on_Grades', 'Do_Professors_Allow_Use', 'Preferred_AI_Tool',
       'Awareness_Level', 'Willing_to_Pay_for_Access', 'State', 'Device_Used',
       'Internet_Access'],
      dtype='object')

In [11]:
students.sample(2)

,Student_Name,College_Name,Stream,Year_of_Study,AI_Tools_Used,Daily_Usage_Hours,Use_Cases,Trust_in_AI_Tools,Impact_on_Grades,Do_Professors_Allow_Use,Preferred_AI_Tool,Awareness_Level,Willing_to_Pay_for_Access,State,Device_Used,Internet_Access
821,Pari,Indian Academy Group of Institutions,Commerce,2,"Gemini, Midjourney",3.7,"Doubt Solving, Resume Writing",4,2,Yes,Copilot,6,No,Karnataka,Laptop,Medium
2100,Riya,Panjab University,Pharmacy,3,Gemini,4.2,"Assignments, Coding Help",4,-3,No,Gemini,4,No,NaN,Mobile,Poor

In [12]:
students.shape

(3614, 16)

# Cleaning Data (Steps)
1. Always Make a Copy of Your Dataset Before Cleaning Data
2. Messy Data
3. Dirty Data

In [13]:
students_copy=students.copy()

In [14]:
# Removing 'AI_Tools_Used' col permanent
students_copy.drop(columns={'AI_Tools_Used'},inplace=True)

In [15]:
students_copy.columns

Index(['Student_Name', 'College_Name', 'Stream', 'Year_of_Study',
       'Daily_Usage_Hours', 'Use_Cases', 'Trust_in_AI_Tools',
       'Impact_on_Grades', 'Do_Professors_Allow_Use', 'Preferred_AI_Tool',
       'Awareness_Level', 'Willing_to_Pay_for_Access', 'State', 'Device_Used',
       'Internet_Access'],
      dtype='object')

In [16]:
# replacing 1,2,3,4,5 in string value like 1.Very low Trust, 2.low Trust, 3.Moderate Trust, 4. Strong Trust, 5.Very High Trust permanently
students_copy['Trust_in_AI_Tools']=students_copy['Trust_in_AI_Tools'].replace({1:'Very low Trust',2:'Low Trust',3:'Moderate Trust',4:'Strong Trust',5:'Very High Trust'})

In [17]:
# replacing -1,-2,-3,0,+1,+2,+3 in string value like -1. Slightly negative impact, -2. Moderate Negative Impact, -3. Strong Negative Impact, 0. No Impact, +1. SLightly Positive Impact, +2. Moderate Positive Impact , +3 Strong Positive Impact
students_copy['Impact_on_Grades']=students_copy['Impact_on_Grades'].replace({+1:'SLightly Positive Impact',+2:'Moderate Positive Impact',+3:'Strong Positive Impact',0:'No Impact',-1:'Slightly Negative Impact',-2:'Moderate Negative Impact',-3:'Strong Negative Impact'})

In [18]:
# Replacing All the value from Awareness_Level column
# Define the mapping
awareness_map = {
    1: 'No Awareness',
    2: 'Minimal Awareness',
    3: 'Very Basic Awareness',
    4: 'Basic Awareness',
    5: 'Fair Awareness',
    6: 'Moderate Awareness',
    7: 'Good Awareness',
    8: 'Strong Awareness',
    9: 'Very High Awareness',
    10: 'Expert-Level Awareness'
}
# Apply the mapping
students_copy['Awareness_Level'] = students_copy['Awareness_Level'].replace(awareness_map)

In [19]:
# Replacing "_" to "space" in columns names
students_copy.columns=students_copy.columns.str.replace('_',' ')

In [20]:
students_copy.rename(columns={'Internet Access':'Internet Speed'},inplace=True)

In [21]:
students_copy.columns

Index(['Student Name', 'College Name', 'Stream', 'Year of Study',
       'Daily Usage Hours', 'Use Cases', 'Trust in AI Tools',
       'Impact on Grades', 'Do Professors Allow Use', 'Preferred AI Tool',
       'Awareness Level', 'Willing to Pay for Access', 'State', 'Device Used',
       'Internet Speed'],
      dtype='object')

In [22]:
# droping all students which does not have state name keeping only those rows who has state name and all information
students_copy = students_copy[students_copy['State'].notnull()]

In [23]:
students_copy

,Student Name,College Name,Stream,Year of Study,Daily Usage Hours,Use Cases,Trust in AI Tools,Impact on Grades,Do Professors Allow Use,Preferred AI Tool,Awareness Level,Willing to Pay for Access,State,Device Used,Internet Speed
0,Aarav,Indian Institute of Information Technology,Engineering,4,0.9,"Assignments, Coding Help",Low Trust,Moderate Positive Impact,No,Copilot,Very High Awareness,Yes,Uttar pradesh,Mobile,Poor
1,Vivaan,"Government Ram Bhajan Rai NES College, Jashpur",Commerce,2,3.4,Learning new topics,Moderate Trust,Strong Negative Impact,Yes,Other,Moderate Awareness,No,Chhattisgarh,Laptop,Poor
2,Aditya,Dolphin PG Institute of BioMedical & Natural,Science,2,3.6,"MCQ Practice, Projects",Very High Trust,No Impact,No,Gemini,No Awareness,No,Uttarakhand,Tablet,Poor
3,Vihaan,Shaheed Rajguru College of Applied Sciences for,Arts,2,2.9,Content Writing,Very High Trust,Moderate Positive Impact,Yes,Gemini,Fair Awareness,No,Delhi ncr,Laptop,High
4,Arjun,Roorkee College of Engineering,Science,1,0.9,"Doubt Solving, Resume Writing",Very low Trust,Strong Positive Impact,Yes,Other,Strong Awareness,Yes,Uttarakhand,Laptop,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,Pooja,National Research Centre on Mithun,Science,4,3.9,"Content Writing, Exam Preparation",Moderate Trust,Moderate Positive Impact,No,Bard,Fair Awareness,Yes,Nagaland,Mobile,High
1996,Kavya,"ICFAI University, Gangtok",Arts,3,1.5,"Learning new topics, Content Writing",Moderate Trust,Strong Negative Impact,No,Claude,Strong Awareness,No,Sikkim,Mobile,Poor
1997,Aishwarya,"Himalayan Pharmacy Institute, East Sikkim",Pharmacy,2,3.2,"Content Writing, MCQ Practice",Very low Trust,Moderate Negative Impact,No,Gemini,Expert-Level Awareness,No,Sikkim,Laptop,Poor
1998,Shreya,Goswami Ganesh Dutt Sanatan Dharama College,Arts,4,3.3,Learning new topics,Low Trust,4,No,Bard,Moderate Awareness,Yes,Chandigarh,Laptop,Poor
1999,Nandini,Baba Saheb Bhimrao Ambedkar Law College,Law,2,2.7,"Project Work, Assignments",Very low Trust,No Impact,Yes,Copilot,Basic Awareness,Yes,Uttar pradesh,Mobile,High

In [27]:
students_copy.head(5)

,Student Name,College Name,Stream,Year of Study,Daily Usage Hours,Use Cases,Trust in AI Tools,Impact on Grades,Do Professors Allow Use,Preferred AI Tool,Awareness Level,Willing to Pay for Access,State,Device Used,Internet Speed
0,Aarav,Indian Institute of Information Technology,Engineering,4,0.9,"Assignments, Coding Help",Low Trust,Moderate Positive Impact,No,Copilot,Very High Awareness,Yes,Uttar pradesh,Mobile,Poor
1,Vivaan,"Government Ram Bhajan Rai NES College, Jashpur",Commerce,2,3.4,Learning new topics,Moderate Trust,Strong Negative Impact,Yes,Other,Moderate Awareness,No,Chhattisgarh,Laptop,Poor
2,Aditya,Dolphin PG Institute of BioMedical & Natural,Science,2,3.6,"MCQ Practice, Projects",Very High Trust,No Impact,No,Gemini,No Awareness,No,Uttarakhand,Tablet,Poor
3,Vihaan,Shaheed Rajguru College of Applied Sciences for,Arts,2,2.9,Content Writing,Very High Trust,Moderate Positive Impact,Yes,Gemini,Fair Awareness,No,Delhi ncr,Laptop,High
4,Arjun,Roorkee College of Engineering,Science,1,0.9,"Doubt Solving, Resume Writing",Very low Trust,Strong Positive Impact,Yes,Other,Strong Awareness,Yes,Uttarakhand,Laptop,Medium

In [26]:
students_copy.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2000 entries, 0 to 1999
Data columns (total 15 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Student Name               2000 non-null   object
 1   College Name               2000 non-null   object
 2   Stream                     2000 non-null   object
 3   Year of Study              2000 non-null   int64
 4   Daily Usage Hours          2000 non-null   float64
 5   Use Cases                  2000 non-null   object
 6   Trust in AI Tools          2000 non-null   object
 7   Impact on Grades           2000 non-null   object
 8   Do Professors Allow Use    2000 non-null   object
 9   Preferred AI Tool          2000 non-null   object
 10  Awareness Level            2000 non-null   object
 11  Willing to Pay for Access  2000 non-null   object
 12  State                      2000 non-null   object
 13  Device Used                2000 non-null   object
 14  Internet Speed             2000 non-null   object
dtypes: float64(1), int64(1), object(13)
memory usage: 250.0+ KB

In [28]:
# students_copy.to_excel('students_clean_data.xlsx', index=False)

ModuleNotFoundError: No module named 'openpyxl'